.footer{
  margin-left : 80px;
  font-size : 18px;
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 2fr 2fr;
  grid-column-gap: 2%;
  justify-content: center;
  align-items:center;
  font-size: x-large;
}
.hero{
  border: 2px solid black;
  padding: 2%;
  justify-self: end;
  text-align: center;

}
.score{
  border: 2px solid black;
  padding: 2%;
  text-align: center;
}
.villian{
  border: 2px solid black;
  padding: 2%;
  justify-self: start;
  text-align: center;
}