.footer{
  margin-left : 80px;
  font-size : 18px;
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: 150px 100px 150px;
  text-align: center;
  grid-auto-rows: 60px;
  font-size: large;
  border-radius: 10px 10px 10px 10px;
  margin-left: 35%;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
#hero{
  text-align: right;
  border-top: 2px solid black;
  border-left: 2px solid black ;
  border-right: 2px solid black;
}
#hero1{
  text-align: right;
  border-left: 2px solid black ;
  border-right: 2px solid black;
}
#hero2{
  text-align: center;
  border-bottom: 2px solid black;
  border-left: 2px solid black ;
  border-right: 2px solid black;
  padding: 10%;
}
#villian{
  text-align: left;
  border-top: 2px solid black;
  border-left: 2px solid black ;
  border-right: 2px solid black;
}
#villian1{
  text-align: right;
  border-left: 2px solid black ;
  border-right: 2px solid black;
}
#villian2{
  text-align: right;
  border-bottom: 2px solid black;
  border-left: 2px solid black ;
  border-right: 2px solid black;
  text-align: center;
  padding: 10%;
}
#score{
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}